* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 400px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 10px 25px;
  height: 64px;
  max-width: 1512px;
  margin: 0 auto;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 95px;
  height: 35px;
  background-image: url("../assets/img/png/meetup-img.png");
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.search-container input {
  border: none;
  padding: 8px 12px;
  outline: none;
  font-size: 14px;
  width: 200px;
}
.search-input::before {
  content: url("../assets/img/svg/search-icon.svg");
  width: 16px;
  height: 16px;
}

.search-container input:nth-child(2) {
  border-left: 1px solid #ddd;
  width: 150px;
}
.search-container button {
  width: 42px;
  height: 42px;
  background-color: #ff4f64;
  border: 1px solid #ff4f64;
  border-radius: 0 5px 5px 0;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 20px;
}
.nav-links img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.signup-button {
  background-color: #00798a;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  gap: 64px;
}

/* Header section */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 40px;
  padding-bottom: 100px;
}

.header-text {
  max-width: 600px;
}

.header-text h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.4;
}

.header-text p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.join-button {
  background-color: #00798a;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.header-image img {
  max-width: 380px;
  width: 100%;
  height: auto;
  min-width: 215px;
}

/* Styles for screens with max-width 400px */
@media (max-width: 400px) {
  .header-text h1 {
    font-size: 25px;
  }
  .header-text p {
    font-size: 12px;
  }
}

/* Events Section */
.events {
  max-width: 1200px;
  width: 100%;
}
.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.events-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  
}
.events-header-left h2 {
  font-size: 28px;
  font-weight: 600;
}
.events-header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #00798a;
  background-color: rgb(151, 202, 209, 0.12);
  padding: 12px;
  border-radius: 8px;
}

.events-header-search .pencil-icon {
  width: 22px;
  height: 22px;
  display: inline-block;
}
.events-header .see-all-events {
  font-size: 16px;
  font-weight: 500;
  color: #00798a;
  text-decoration: none;
}


/* Styles for screens with max-width 400px */
@media (max-width: 400px) {
  .events-header-left h2 {
    font-size: 20px;
  }
  .events-header-search {
    font-size: 14px;
    padding: 8px;
  }
  .events-header-search .pencil-icon {
    width: 16px;
    height: 16px;
  }
}


/* Upcoming Events Section */
.upcoming-events {
  max-width: 1200px;
  width: 100%;
}

.upcoming-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.upcoming-header h2 {
  font-size: 28px;
  font-weight: 600;
}

.upcoming-header .see-all-events {
  font-size: 16px;
  font-weight: 500;
  color: #00798a;
  text-decoration: none;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 36px;
}

.event-card {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #212121;
}

.event-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.event-info {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding-right: 35px;
  gap: 12px;
  
}

.event-info h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.event-info .event-category {
  font-size: 14px;
  font-weight: 500;
  color: #707070;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  line-height: 1.5;
}

.event-date {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  line-height: 1.5;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.event-date .event-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.event-data {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 6px;
}
.detail-item .event-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.event-online {
  display: none;
}
.event-attendees {
  display: none
}

/* Styles for screens with max-width 400px */
@media (max-width: 400px) {
  .upcoming-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .upcoming-header h2 {
    font-size: 20px;
  }

  .events-grid {
    grid-template-columns: 1fr;
    gap: 23px;
  }

  .event-card {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 8px;
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
    border-radius: 0;
  }

  .event-card img {
    height: 55px;
    width: 95px;
  }

  .event-info {
    margin-top: 0;
    gap: 2px;
  }

  .event-info h3 {
    font-size: 9px;
    font-weight: 500;
    order: 2;
  }

  .event-info .event-category {
    font-size: 8px;
    font-weight: 400;
    order: 3;
    margin-top: 8px;
  }

  .event-details {
    order: 1;
  }

  .event-date {
    font-size: 8px;
    color: #7c6f50;
  }

  .event-date .event-icon {
    display: none;
  }

  .event-data {
    display: none;
  }
  .event-attendees {
    display: block;
    font-size: 8px;
    font-weight: 400;
    order: 4;
    margin-top: 28px;
    color: #707070;

  }
  .event-online {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 7px;
    font-weight: 500;
    color: #707070;
    order: 4;
    margin-top: 2px;

  }
  .event-online .event-online-icon {
    width: 9px;
    height: 9px;
    display: block;
  }

  .mini-display-none {
    display: none;
  }
}

/* Join Meetup Section */
.join-meetup {
  background-color: #f9f9f9;
  max-width: 1200px;
  width: 100%;
  padding: 36px 56px;
  border-radius: 8px;
}

.join-meetup-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.join-text {
  flex: 1;
}

.join-text h2 {
  font-size: 28px;
  font-weight: 600;
  color: #212121;
}

.join-text img {
  display: none;
}

.join-text p {
  font-size: 1rem;
  color: #555;
  margin-top: 16px;
}

.join-text .signup-button-red {
  background-color: #e32359;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
  width: 192px;
  height: 40px;
}

.join-image {
  flex: 1;
  text-align: right;
}

.join-image img {
  max-width: 100%;
  height: auto;
}

/* Styles for screens with max-width 400px */
@media (max-width: 400px) {
  .join-meetup {
    padding: 15px;
  }

  .join-meetup-content {
    flex-direction: column;
    text-align: center;
  }

  .join-text h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
  }

  .join-text img {
    display: block;
    width: 238px;
    margin: auto;
  }

  .join-image img {
    display: none;
  }

  .join-text p {
    font-size: 12px;
  }
}

/* Top Categories Section */
.top-categories {
  max-width: 1200px;
  width: 100%;
}

.top-categories h2 {
  font-size: 28px;
  font-weight: 700;
}

.categories-grid {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  gap: 16px;
  flex-wrap: wrap;
}

.category {
  background-color: rgb(151, 202, 209, 0.08);
  border-radius: 8px;
  padding: 22px;
  text-align: center;
  width: 135px;
  height: 112px;
}

.category img {
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
}

.category p {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  line-height: 1.5;
}

/* Styles for screens with max-width 400px */
@media (max-width: 400px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }
  .top-categories h2 {
    font-size: 20px;
    font-weight: 600;
  }
}

/* Popular Cities Section */
.popular-cities {
  max-width: 1200px;
  width: 100%;
}

.popular-cities h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #212121;
}

.popular-cities p {
  font-size: 16px;
  color: #707070;
  margin-bottom: 28px;
}

.cities-grid {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}

.city {
  text-align: center;
}

.city img {
  width: 205px;
  height: 205px;
  margin-bottom: 24px;
}

.city p {
  font-size: 20px;
  font-weight: 600;
}

/* Styles for screens with max-width 400px */
@media (max-width: 400px) {
  .cities-grid {
    gap: 15px;
  }

  .popular-cities h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .city img {
    width: 153px;
    height: 153px;
  }

  .city p {
    font-size: 12px;
  }
}

/* Meetup Works Section */
.meetup-works {
  max-width: 1200px;
  width: 100%;
}

.meetup-works h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #212121;
}

.works-cards {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.works-cards .card {
  background-color: rgb(151, 202, 209, 0.08);
  border-radius: 8px;
  padding: 32px 0 24px 24px;
  width: calc(50% - 16px);
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.works-cards .card img {
  width: 40px;
  height: 40px;
  flex-shrink: 0; /* fixed icon size */
}

.works-cards .card-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.works-cards .card-content h3 {
  font-size: 20px;
  font-weight: 600;
  color: #212121;
}

.works-cards .card-content p {
  font-size: 16px;
  color: #212121;
  max-width: 370px;
  line-height: 1.5;
}

.works-cards .card-content a {
  color: #00798a;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

/* Responsive Design for 400px width */
@media (max-width: 400px) {
  .works-cards .card {
    width: 100%;
  }
  .meetup-works h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
  }
}

/* Friendships Section */
.friendships {
  max-width: 1200px;
  width: 100%;
}
.friendships h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #212121;
}
.friendships p {
  font-size: 16px;
  color: #707070;
  margin-bottom: 28px;
  max-width: 850px;
  line-height: 1.5;
}
.friendship-cards {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.friendship-cards .card {
  border-radius: 8px;
  flex: 1 1 calc(33.333% - 32px);
  max-width: calc(33.333% - 32px);
}

.friendship-cards .card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
}

.friendship-cards .card h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.friendship-cards .card p {
  font-size: 16px;
  color: #707070;
  margin-bottom: 16px;
}

.friendship-cards .card a {
  color: #00798a;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

/* Responsive Design for 400px width */
@media (max-width: 400px) {
  .friendship-cards {
    flex-direction: column;
    gap: 20px;
  }

  .friendship-cards .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* footer */
.footer {
  background-color: #212121;
  color: #f6f7f8;
  padding: 20px 60px;
  font-size: 14px;
  margin-top: 50px;
  width: 100%;
}

.footer-content {
  max-width: 1120px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 70px;
  margin-bottom: 40px;
  border-bottom: 1px solid #707070;
  font-size: 16px;
}

.get-started-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-column a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin-bottom: 7px;
}

.footer-column a:hover {
  color: #fff;
}

.footer-social {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.footer-content p {
  margin-bottom: 12px;
}

.social-icons a {
  margin: 0 32px 0 0;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.footer-bottom {
  text-align: left;
  padding-top: 20px;
}

.footer-bottom a {
  color: #bbb;
  text-decoration: none;
  margin: 0 10px;
}

.footer-bottom a:hover {
  color: #fff;
}
.app-buttons {
  display: flex;
  gap: 22px;
  padding-right: 10px;
}

/* Styles for screens with max-width 400px */
@media (max-width: 400px) {
  .footer {
    padding: 20px 16px;
  }
  .app-buttons {
    display: none;
  }
  .footer-bottom a {
    display: none;
  }
}