* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 10px 25px;
  height: 64px;
  max-width: 1512px;
  margin: 0 auto;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 95px;
  height: 35px;
  background-image: url("../assets/img/png/meetup-img.png");
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.search-container input {
  border: none;
  padding: 8px 12px;
  outline: none;
  font-size: 14px;
  width: 200px;
}
.search-input::before {
  content: url("../assets/img/svg/search-icon.svg");
  width: 16px;
  height: 16px;
}

.search-container input:nth-child(2) {
  border-left: 1px solid #ddd;
  width: 150px;
}
.search-container button {
  width: 42px;
  height: 42px;
  background-color: #ff4f64;
  border: 1px solid #ff4f64;
  border-radius: 0 5px 5px 0;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 20px;
}
.nav-links img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.signup-button {
  background-color: #00798a;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
