* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 370px;
  color: #212121;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 10px 25px;
  height: 64px;
  max-width: 1512px;
  margin: 0 auto;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 95px;
  height: 35px;
  background-image: url("../assets/img/png/meetup-img.png");
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.search-container input {
  border: none;
  padding: 8px 12px;
  outline: none;
  font-size: 14px;
  width: 200px;
}
.search-input::before {
  content: url("../assets/img/svg/search-icon.svg");
  width: 16px;
  height: 16px;
}
.search-container input:nth-child(2) {
  border-left: 1px solid #ddd;
  width: 150px;
}
.search-container button {
  width: 42px;
  height: 42px;
  background-color: #ff4f64;
  border: 1px solid #ff4f64;
  border-radius: 0 5px 5px 0;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}
.nav-links img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.signup-button {
  background-color: #00798a;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* Styles for screens larger than 900px */
.search-bar2 {
  display: none;
}

/* Styles for screens with max-width 900px */
@media (max-width: 900px) {
  .main {
    margin-top: 20px;
  }
  .navbar {
    padding: 10px 25px 10px 25px;
  }
  .search-container {
    display: none;
  }

  /* Search Bar2 */
  body .search-bar2 {
    display: flex;
  }
}

/* Styles for screens with max-width 400px */
@media (max-width: 400px) {
  .navbar {
    padding: 10px 25px 10px 25px;
    height: 50px;
    margin: 0 auto;
  }
  .nav-links a {
    font-size: 12px;
    margin-right: 18px;
  }
  .nav-links img {
    width: 17px;
    height: 17px;
    margin-right: 3px;
  }
  .signup-button {
    padding: 7px 14px;
    border-radius: 8px;
    font-size: 12px;
  }
}

/* Search Bar2 */
.search-bar2 {
  display: none;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  overflow: hidden;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.search-bar2 .search-input2 {
  flex: 1;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
}

.search-bar2 .search-input2::placeholder {
  color: #707070;
}

.search-bar2 .search-button2 {
  background-color: #f65858;
  border: none;
  width: 42px;
  height: 42px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar2 .search-button2 img {
  width: 20px;
  height: 20px;
}

/* main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  margin-top: 80px;
}
.events-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
}

/* events-list */
.events-list {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  width: 100%;
}
.events-list h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}
.events-list a {
  font-size: 20px;
  font-weight: 500;
  color: #00798a;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.events-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background-color: #007681;
}
.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin-top: 18px;
  margin-bottom: 56px;
}
.filters select {
  padding: 16px;
  border: none;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  background-color: #f6f7f8;
}

/* events */
.events {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-bottom: 100px;
}
.event {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 12px;
  padding: 16px 0 0 0;
  border-top: 1px solid #d9d9d9;
  width: 100%;
  max-width: 600px;
}
.event img {
  width: 160px;
  height: 90px;
  border-radius: 8px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.event-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  gap: 4px;
}
.event-info p {
  font-size: 14px;
  font-weight: 500;
  color: #7c6f50;
}
.event-info h3 {
  font-size: 16px;
  font-weight: 500;
}
.event-category {
  font-size: 14px;
  font-weight: 500;
  color: #707070;
}
.event-online {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  font-size: 7px;
  color: #707070;
}
.event-online img {
  width: 10px;
  height: 10px;
}
.event-attendees {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #707070;
  margin-top: 40px;
}

/* event-map */
.event-map {
  display: flex;
  justify-content: end;
  width: 100%;
}
.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}
.map-container p {
  font-size: 12px;
  font-weight: 500;
}
.map-container h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.map-container img {
  width: 350px;
  height: 285px;
  border-radius: 12px;
}

/* Styles for screens with max-width 900px */
@media (max-width: 900px) {
  .event-map {
    display: none;
  }
}

/* Styles for screens with max-width 400px */
@media (max-width: 400px) {
  .events-list h2 {
    font-size: 25px;
  }
  .events {
    margin-bottom: 65px;
  }
  .event {
    gap: 7px;
    padding: 9px 0 0 0;
  }
  .event img {
    width: 98px;
    height: 55px;
    max-width: 100%;
    height: auto;
  }
  .event-info {
    gap: 2px;
  }
  .event-info p {
    font-size: 8px;
  }
  .event-info h3 {
    font-size: 10px;
  }
  .event-category {
    font-size: 9px;
    font-weight: 400;
  }
  .event-online {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 7px;
    color: #707070;
  }
  .event-online img {
    width: 10px;
    height: 10px;
  }
  .event-attendees {
    display: none;
  }
}

/* footer */
.footer {
  background-color: #212121;
  color: #f6f7f8;
  padding: 20px 60px;
  font-size: 14px;
  margin-top: 50px;
  width: 100%;
}
.footer-content {
  max-width: 1120px;
  margin: 0 auto;
}
.footer-top {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 70px;
  margin-bottom: 40px;
  border-bottom: 1px solid #707070;
  font-size: 16px;
}
.get-started-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.footer-column {
  flex: 1;
  margin-right: 20px;
}
.footer-column h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.footer-column a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin-bottom: 7px;
}
.footer-column a:hover {
  color: #fff;
}
.footer-social {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.footer-content p {
  margin-bottom: 12px;
}
.social-icons a {
  margin: 0 32px 0 0;
}
.social-icons img {
  width: 30px;
  height: 30px;
}
.footer-bottom {
  text-align: left;
  padding-top: 20px;
}
.footer-bottom a {
  color: #bbb;
  text-decoration: none;
  margin: 0 10px;
}
.footer-bottom a:hover {
  color: #fff;
}
.app-buttons {
  display: flex;
  gap: 22px;
  padding-right: 10px;
}

/* Styles for screens with max-width 400px */
@media (max-width: 400px) {
  .footer {
    padding: 20px 16px;
  }
  .app-buttons {
    display: none;
  }
  .footer-bottom a {
    display: none;
  }
}
